/* Style.css */

body {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    background-color: #b4b4b4;
    color: #333;
    line-height: 1.5;
}


header {
    background-color: #228dff;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: #0063cc;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

section,
article {
    background: white;
    margin: 30px auto;
    padding: 25px;
    width: 80%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #228dff;             
    padding: 10px;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}



button {
    background-color: #004794;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #333;
}

button:hover {
    background-color: #002a57;
}


img {
    border-radius: 10px;
    display: block;
    margin-top: 10px;
}


footer {
    background-color: #228dff;
    text-align: center;
    padding: 20px;
}


hr {
    border: 1px solid #ddd;
    margin: 30px 0;
}